@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    /* overflow-x:hidden; */
}

/* .form-container{
    background: url('/public/images/IT.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
} */

.form-container{
    overflow-x: hidden;
}

.form-container::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: -8;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper{
    max-width: 1140px;
    margin:0 auto;
    padding:0 1rem;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    box-shadow: 4px 3px 4px #fff;
    border-radius: 5px;
}

.wrapper h2{
    font-size: 3rem;
    color:#fff;
    padding:2rem 1rem;
    position: relative;
}

.wrapper h2::after{
    content:"";
    position: absolute;
    height: 5px;
    top:100px;
    left: 20px;
    width: 30%;
    background:#e50d73;
}

.form-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:1rem;
}

.form-section ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.form-details .icons{
    background-color: #e50d73;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 50%;
}

.form-details li{
    display: flex;
    align-items: center;
    padding:1rem;
    color:#fff;
    margin:0.8rem 0;
}

.form-details li i{
     font-size: 1.5rem;
     display: flex;
     align-items:center;
     justify-content: center;
     height: inherit;
}

.form-details strong{
    color:#28b463;
}

/* right side content */

.form-group{
    position: relative;
}

.form-group .form-control{
    width: 100%;
    outline:none;
    border:1px solid #ddd;
    padding:0.8rem;
    margin:1rem 0;
    resize:none;
    border-radius: 5px;
    font-size: 1rem;
}

 .form-group span{
    position: absolute;
    top:0rem;
    left:0;
    padding:1rem;
    pointer-events: none;
    font-size: 0.8rem;
    color:#ddd;
    text-transform: uppercase;
    transition:0.5s;
    font-weight: bold;
}


.form-group .form-control:valid ~ span,
.form-group .form-control:focus ~ span{
    background: #e50d73;
    color:#fff;
    transform: translateX(10px) translateY(-10px);
    font-size: 0.8rem;
    padding:0 10px;
}


.input-field button{
    outline:none;
    border:none;
    background-color: #e50d73;
    color:#fff;
    padding:0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    margin:1rem 0;
    cursor: pointer;
    transition: 0.4s;
}

.input-field button:active{
    transform: scale(1.1S);
} 

/* responsive */


@media(max-width:768px){
    .form-section{
        /* display: grid; */
        grid-template-columns: 1fr;
    }
    .wrapper h2{
        font-size: 2rem;
    }
    .wrapper h2::after{
        height: 3px;
        top: 90px;
    }

    .form-details li{
        margin:0.5rem 0;
        padding:0.5rem;
    }
}