body {
  background-color: #ffffff;
}
.it-text {
  font-size: 3.3rem;
  color: #213a7c;
  font-weight: bold;
}
.waviy {
  position: relative;
  font-weight: bold;
  font-size: 2rem;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

/*button animation  */
.homepage-button {
  height: 60px;
  width: 170px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.homepage-button:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.type1::after {
  content: "Events";
  height: 50px;
  width: 170px;
  background-color: #213a7c;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "Events";
  height: 50px;
  width: 170px;
  background-color: #fff;
  color: #213a7c;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}
